
@model IEnumerable<App.Models.Employee>

@{
    ViewBag.Title = "Home Page";
}

<table class="table table-striped table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Birthday)
        </th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthday)
            </td>
        </tr>

    }

</table>

<div>
    <a href="@Url.Action("DownloadExcel","Home")">Download Excel</a>
</div>

<script>
    new Vue({
        el: '#employee-vue',
        data: {
            message: "dadasdas"
        }
    });

</script>
